body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.radio-label {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.radio-label input {
    display: none;
}

.radio-label img {
    width: 18vw;
    height: 18vw;
}

.radio-label input:checked + img {
    border: 3px solid black;
    
}

label {
    display: inline-block;
    margin-right: auto;
}

input[type=checkbox] {
    display: none;
}

input[type="checkbox"]+img {
    width: 18vw;
    height: 18vw;
    cursor: pointer;
}

input[type=checkbox]:checked+img {
    border: 3px solid #000;
    box-sizing: border-box;
}

#selectSimple,
#selectCute,
#selectCat,
#selectBlock,
#selectSpace {
    display: none;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}


main {
    background-color: #f1f1f1;
    height: 800px;
    display: flex;
}


.main {
    margin: auto;
}

.footer {
    background-color: #f6f6f6;
    height: 200px;
    display: flex;
}

.footer div {
    margin: auto;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.hamburger {
    display: none;
    /* ハンバーガーメニューはデフォルトで非表示 */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* メディアクエリを使用してハンバーガーメニューの表示切り替え */
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }
}