<!DOCTYPE html>
<html>

<head>
    <title>アカウント情報・登録</title>
    <meta charset="=utf-8" />
    <link rel="stylesheet" href="../static/account.css" />
    <script type="text/javascript" src="account.js"></script>
</head>

<body>
    <form action="account.html" method="POST" id="user_register">
        <label for="line_name">LINEの名前：</label>
        <input type="text" name="line_name" required id="line_name"><br>
        <label for="line_email">LINEのメールアドレス</label>
        <input type="email" name="line_email" required id="line_email"><br>
        <label for="sns">紐付けるSNS</label>
        <input type="checkbox" name="sns" id="sns" value="LINE"><br>
        <input type="submit" value="ユーザ登録">
    </form>
</body>

</html>