<!DOCTYPE html>
<html>

<head>
    <title>名刺作成ページ</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/index.css" />
    <script type="text/javascript" src="index.js"></script>
</head>
<header class="header">
    <div class="header__inner">
        <h1 class="header__title header-title">
            <a href="#">
                logo
            </a>
        </h1>

        <nav class="header__nav nav" id="js-nav">
            <ul class="nav__items nav-items">
                <li class="nav-items__item"><a href="account.html">アカウント情報・登録</a></li>
                <li class="nav-items__item"><a href="private.html">プライベート用名刺</a></li>
                <li class="nav-items__item"><a href="business.html">ビジネス用名刺</a></li>
            </ul>
        </nav>

        <button class="header__hamburger hamburger" id="js-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>

<body>
    <h1>名刺作成ページ</h1>
    <form action="index.html" method="post" onsubmit="return ExecuteSubmit();">
        <h2>デザイン</h2>
        <p>デザインを選択してください</p>
        <input type="radio" name="design" value="simple_image" id="selectSimple" checked>
        <label for="selectSimple"></label>
        <input type="radio" name="design" value="cute_image" id="selectCute">
        <label for="selectCute"></label>
        <input type="radio" name="design" value="cat_image" id="selectCat">
        <label for="selectCat"></label>
        <input type="radio" name="design" value="block_image" id="selectBlock">
        <label for="selectBlock"></label>
        <input type="radio" name="design" value="space_image" id="selectSpace">
        <label for="selectSpace"></label>

        <h2>SNSロゴ</h2>
        <p>共有するSNSを選択してください</p>
        <label>
            <input type="checkbox" name="LINE" value="LINE" id="SNS-logo">
            <img src="../img/LINE_icon.png" alt="LINE">
        </label>
        <label>
            <input type="checkbox" name="Instagram" value="Instagram" id="SNS-logo">
            <img src="../img/Instagram_icon.png" alt="Instagram">
        </label>
        <label>
            <input type="checkbox" name="Twitter" value="Twitter" id="SNS-logo">
            <img src="../img/Twitter_icon.png" alt="Twitter">
        </label>
        <label>
            <input type="checkbox" name="Facebook" value="Facebook" id="SNS-logo">
            <img src="../img/Facebook_icon.png" alt="Facebook">
        </label>
        <label>
            <input type="checkbox" name="TikTok" value="TikTok" id="SNS-logo">
            <img src="../img/TikTok_icon.png" alt="TikTok">
        </label>

        <h2>用途を選択してください</h2>
        <p>プライベート用かビジネス用か選択してください</p>
        <input type="radio" name="Purpose" value="private" checked>プライベート用<br>
        <input type="radio" name="Purpose" value="business">ビジネス用<br>
        <input type="submit" value="名刺を作成する">
    </form>
</body>

</html>