<!DOCTYPE html>
<html>

<head>
    <title>プライベート用名刺</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/card.css" />
    <script type="text/javascript" src="card.js"></script>
</head>

<body>
    <div class="design" id="design1">
        <div class="SNS-logo" id="logo1" onclick="handleClick('LINE')"></div>
        <div class="SNS-logo" id="logo2" onclick="handleClick('Instagram')"></div>
        <div class="SNS-logo" id="logo3" onclick="handleClick('Twitter')"></div>
        <div class="SNS-logo" id="logo4" onclick="handleClick('Facebook')"></div>
        <div class="SNS-logo" id="logo5" onclick="handleClick('TikTok')"></div>
    </div>

    <div class="design" id="design2">
        <div class="SNS-logo" id="logo1" onclick="handleClick('LINE')"></div>
        <div class="SNS-logo" id="logo2" onclick="handleClick('Instagram')"></div>
        <div class="SNS-logo" id="logo3" onclick="handleClick('Twitter')"></div>
        <div class="SNS-logo" id="logo4" onclick="handleClick('Facebook')"></div>
        <div class="SNS-logo" id="logo5" onclick="handleClick('TikTok')"></div>
    </div>

    <div class="design" id="design3">
        <div class="SNS-logo" id="logo1" onclick="handleClick('LINE')"></div>
        <div class="SNS-logo" id="logo2" onclick="handleClick('Instagram')"></div>
        <div class="SNS-logo" id="logo3" onclick="handleClick('Twitter')"></div>
        <div class="SNS-logo" id="logo4" onclick="handleClick('Facebook')"></div>
        <div class="SNS-logo" id="logo5" onclick="handleClick('TikTok')"></div>
    </div>

    <div class="design" id="design4">
        <div class="SNS-logo" id="logo1" onclick="handleClick('LINE')"></div>
        <div class="SNS-logo" id="logo2" onclick="handleClick('Instagram')"></div>
        <div class="SNS-logo" id="logo3" onclick="handleClick('Twitter')"></div>
        <div class="SNS-logo" id="logo4" onclick="handleClick('Facebook')"></div>
        <div class="SNS-logo" id="logo5" onclick="handleClick('TikTok')"></div>
    </div>

    <div class="design" id="design5">
        <div class="SNS-logo" id="logo1" onclick="handleClick('LINE')"></div>
        <div class="SNS-logo" id="logo2" onclick="handleClick('Instagram')"></div>
        <div class="SNS-logo" id="logo3" onclick="handleClick('Twitter')"></div>
        <div class="SNS-logo" id="logo4" onclick="handleClick('Facebook')"></div>
        <div class="SNS-logo" id="logo5" onclick="handleClick('TikTok')"></div>
    </div>
</body>

</html>